rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Collection rules
    match /users/{email} {
      allow read, write: if true;
    }

    match /deposits/{id} {
      allow read, write: if true;
    }

    match /giveaways/{id} {
      allow read, write: if true;
    }

    match /chixtok_videos/{id} {
      allow read, write: if true;
    }

    match /settings/{id} {
      allow read, write: if true;
    }

    match /withdrawals/{id} {
      allow read, write: if true;
    }

    match /flutterwave_payments/{id} {
      allow read, write: if true;
    }

    match /adverts/{id} {
      allow read, write: if true;
    }

    match /community_chats/{id} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}

